.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 30px;
  margin-left: 20%;

  img {
    width: 20px;
    border-radius: 100px;
  }

  section {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}