.cards {
  display: flex;
  flex-direction: row;
  section {
    box-shadow: 0 30px 70px #a9a9a9;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    img {
      width: 100%;
    }

    button {
      background-color: rgb(2, 7, 29);
      color:white;
      border-radius: 40px;
      margin-top: 10px;
      margin-left: 180px;
    }

  }
  
}

.button {
  margin: 10px;
  margin-left: 80%;
  background-color: seagreen;
  color: white;
  border-radius: 10px;
}