.container {
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  form {
    width: 30%;
    height: 70%;
    box-shadow: 0 30px 70px #a9a9a9;
    border-radius: 10px 0px 0px 10px;
    img {
      width: 100px;
      border-radius: 100px;
    }

    label {
      display: flex;
      justify-content: flex-start;
    } 
  }

  img {
    width: 300px;
    border-radius: 0px 10px 10px 0px;
  }
}